.section {
    padding: 3rem 0;

    @include media-breakpoint-up(lg) {
        padding: 5rem 0;
    }

    &--pt {
        padding-top: 3rem;

        @include media-breakpoint-up(lg) {
            padding-top: 5rem;
        }
    }

    &--pb {
        padding-bottom: 3rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 5rem;
        }
    }

    &__heading {
        text-align: center;

        &--wrap {
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    &__map {
        margin-bottom: -.75rem;

        iframe {
            height: 300px;
            
            @include media-breakpoint-up(md) {
                height: 350px;
            }

            @include media-breakpoint-up(lg) {
                height: 400px;
            }
        }
    }
}
