.list {
    &__footer {
        &--contact {
            li {
                line-height: 30px;
                @include media-breakpoint-up(lg) {
                    padding-bottom: .5rem;
                }      
                a {
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
        }

        &--menu {
            padding-right: 2rem;
            padding-top: 0;
            padding-left: 0;
            list-style: none;

            li {
                &:before {
                    content: ">";
                    display: inline-block;
                    color: $color-accent;
                    font-weight: 600;
                    font-size: $fs-base;
                    padding-right: .1rem;
                }
            }
        }
    }
}
